@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteriler", FormMethod.Get))
            {
                <p>
                   <b> Aranacak Müsteri Adı:</b> @Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }
<table class="table table-bordered">
    <tr>
        <th>MÜSTERİ ID</th>
        <th>MÜSTERİ ADI</th>
        <th>MÜSTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var mstr in Model)
        {
            <tr>
                <th>@mstr.MUSTERIID</th>
                <td>@mstr.MUSTERIAD</td>
                <td>@mstr.MUSTERISOYAD</td>
                <td><a href="/Musteriler/Sil/@mstr.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Musteriler/MusteriGetir/@mstr.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                <td>@Html.ActionLink("Sil Butonu","Sil",new {id=mstr.MUSTERIID}, new { @class="btn btn-warning", onclick="return confirm('Gerçekten silme işlemini onaylıyor musunuz?')"})</td>
            </tr>
        }
    </tbody>
</table>
<td><a href="/Musteriler/YeniMusteri/" class="btn btn-primary">YENİ MUSTERI EKLE</a></td>
